@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');

#root > div {
    margin-top: 5%;
}

#root > div > p3 {
   
    font-size: 100px;
    text-shadow: none;
    font-family: 'Genos', sans-serif;
}

#root > div > p4 {
    font-size: xx-large;
    text-shadow: none;
    font-family: 'Genos', sans-serif;
    
}
p2 {
    font-size: larger;
    color: blanchedalmond;
}

.tut {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p4 {
    font-weight: bold;
}